<br>
<li><%= link_to "All Articles", root_path %></li>

<h1> <%= @article.title %> </h1>
<button type="button" class="btn btn-outline-success" onclick="window.location.href='<%= edit_article_path(@article) %>';">Edit</button>
<%= link_to "Delete", article_path(@article), method: :delete, data: { confirm: "Are you sure?" } %>

<div class="card" style="width: 90%; left: 20px;">
  <div class="card-body">
    <p><%= @article.body %></p>
  </div>
</div>
<br>

<h3>Comments</h3>
<%= render 'comments/form' %>
<%= render @article.comments.select(&:persisted?) %>

